.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.8rem;
  background: transparent;
}

.menu-btn {
  border: none;
  background: none;
}

.menu-icon {
  height: 1.7rem;
}
